
    
/*estilos color, fondo, alineados, fuentes y animaciones*/
header{
    background-color: purple;
    height: 30;
    width: 100%;
    border:  3px solid black;
    text-align: center;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    line-height: 30px;
    border-bottom-left-radius:  30px;
    border-bottom-right-radius: 30px;
    position:relative;
}

body{
    background-image:url(../img/fondoprincipalpg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    font-style: italic;
    
}

footer{
    border: 3px solid black;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    color: black;
    background-color:purple;
    margin: 0% auto;
    width: 100%;
    height: 10vh;
    

}
.p1{ 
    text-align: center;
}
.imagenes{
    margin: 0% auto;
    width: max-content;
    height: max-content;
    text-align: center;
    cursor: pointer;
}
.fin{
    text-align: center;
}
.obito{
    border: 3px white solid;
    transition: 1s;
    
}

.obito:hover{
    width: 300px;
    border-radius: 100px;
}

.p2{
    text-align: center;   
}
.kakashi{
    border: 3px white solid;
    transition: 1s;
}

.kakashi:hover{
    width: 300px;
    border-radius: 100px;
}
.itachi{
    border: 3px white solid;
    transition: 1s;
    
}

.itachi:hover{
    width: 300px;
    border-radius: 100px;
}
.comentario{
    margin: 0% auto;
    border: 2px solid white;
    width: max-content;
    height: max-content;
    text-align: center;
}